<div class="book-detail-container">
    <button class="close-btn" (click)="goBack()">&larr; Back to List</button>
    <div class="book-detail" *ngIf="book">
        <div class="detail-content">
            <div class="book-image">
                <img [src]="book.thumbnail" [alt]="book.title">
            </div>
            <div class="book-info">
                <h2>{{ book.title }}</h2>
                <p class="authors" *ngIf="book.authors?.length">
                    By {{ book.authors?.join(', ') }}
                </p>
                <p class="publisher" *ngIf="book.publisher">
                    Published by {{ book.publisher }}
                    <span *ngIf="book.publishedDate"> ({{book.publishedDate | date: 'yyyy' }})</span>
                </p>
                <p class="categories" *ngIf="book.categories?.length">
                    Categories: {{ book.categories?.join(', ') }}
                </p>
                <p class="pages" *ngIf="book.pageCount">
                    Pages: {{ book.pageCount }}
                </p>
                <p class="description" *ngIf="book.description">
                    {{ book.description }}
                </p>
            </div>
        </div>
    </div>
</div>